@charset "utf-8";
.text-body {


}
.col-lg-12 {
    text-align: left;
}
table {
    font-size: 90%;
    margin-bottom: 2em;
    border-bottom: 3 px solid #069;
    border-collapse: collapse;
}
td, th {
    padding: 4px;
    text-align: center;
    border-top: 1px solid #069;
    color: #030303;
}
th {
    color: #FFC;
    text-align: center;
}
